.example-form .text {
  text-align: center;
}
.color-popover .ant-popover-inner-content {
  padding: 0;
}
.theme-card {
  width: 320px;
  height: 100%;
  position: relative;
}
.theme-card .toggle {
  padding: 2px 4px;
  position: absolute;
  top: -14px;
  left: 20px;
  z-index: 1000;
  background: white;
  border: 1px solid #e8e8e8;
}
.theme-card .toggle .btn-toggle {
  width: 20px;
}
.theme-card .ant-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.theme-card .ant-card.hide {
  display: none;
}
.theme-card .ant-card .ant-card-head {
  cursor: cell;
}
.theme-card .ant-card [class*="-card-body"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}
.theme-card .ant-card [class*="-card-body"] .search-fileds {
  padding: 18px 8px;
}
.theme-card .ant-card .theme-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.logo img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}
.logo h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.field-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.field-row .field-name .anticon {
  margin-left: 5px;
}
.header-actions {
  position: absolute;
  top: 0;
  right: 16px;
}
.theme-card-wrapper {
  position: absolute;
  top: 92px;
  right: 28px;
  height: 86%;
}
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
